@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400,700&subset=latin,cyrillic);

* {
	outline: none;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
body, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #fff;
}
.h50 {
	height: 50px;
}

/* HEADER */
.navbar {
	margin: 0;
	background: #303d4d;
	border-radius: 0px;
	min-height: 50px !important;
}
.navbar a {
	height: 100%;
}
.nav-title {
	background: #2b3745;
}
.nav-title a {
	height: 100%;
	padding-top: 2px;
	text-align: center;
	outline: none;
	font-size: 30px;
	font-weight: 700;
}
.nav-title a:hover {
	text-decoration: none;
}
.breadcrumbs {
	padding-top: 14px;
	color: #fff;
	font-weight: 600;
}
.title-name {
	float: right;
	padding-top: 14px;
	height: 100%;
	font-weight: 600;
}
.power {
	padding-left: 13px;
	margin-bottom: 25px;
}

/* ASIDE */
.aside-menu {
	height: 371px;	
	background: #f5f8fa;
	border-bottom: 1px solid #e8ecf1;
	font-weight: 600;
	
}
.aside-menu .menu-line{
	width: 80%;
	padding: 10px 15px 10px 60px !important; 
	color: #626a73;
}
.aside-menu li:first-child {
	margin-top: 25px; 
}

.nav li a {
	display: inline-block;
}
.setting {
	float: right;
	width: 20%;
}
.setting img {
	padding-left: 5px;
}

.profile-title {
	height: 371px;
	background: url(../img/back.jpg) no-repeat;
}
